<!DOCTYPE html>

<html>

   <head>
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h2>API Project: Timestamp Microservice</h2>
        <h3>Usage :</h3>
        <ol class="user-stories">
          
          <li>Visit api endpoint at localhost:portnumber</li>
          <li>Visit ...endpoint/api/timestamp for the current time</li>
          <li>Add a valid timestamp format after the /timestamp to get the time displayed as utc and standard (see example usage at the bottom)</li>
          <li>Service returns invalid error in json format if incorrect date/time is input in the url</li>
        </ol>

        <h3>Example Usage:</h3>
        <ul>
          <li>
            https://fcc-backend-projects.glitch.me/api/timestamp/2015-12-15</li>
          <li>https://fcc-backend-projects.glitch.me/api/timestamp/1450137600000</li>
        </ul>

        <h3>Example Output:</h3>
        <p>
          <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          Created by Timothy Stanislav - Web Developer
        </p>
        <p>
          Visit my <a href="https://tmstani23.github.io">portfolio page</a>.
        </p>
      </div>
   </body>

</html>
